
/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0a0a0a;
    color: #fff;
    line-height: 1.6;
}

section {
    padding: 80px 10%;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #222;
}

.navbar .logo {
    font-size: 26px;
    font-weight: 700;
}

.navbar .logo span {
    color: #7b4bff;
}

.navbar nav a {
    color: #ccc;
    margin-left: 25px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: #7b4bff;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.title {
    font-size: 50px;
    font-weight: 700;
}

.title span {
    color: #7b4bff;
}

.subtitle {
    margin-top: 10px;
    font-size: 20px;
    color: #bbb;
}

.btn {
    margin-top: 25px;
    padding: 12px 30px;
    font-size: 17px;
    background: #7b4bff;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #5a32d4;
}

.glow {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #7b4bff;
    filter: blur(200px);
    opacity: 0.4;
    z-index: -1;
}


.about-text {
    max-width: 700px;
    font-size: 18px;
    margin-top: 15px;
    color: #ccc;
}

.skills-box {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 25px;
}

.skill {
    background: #111;
    padding: 12px 20px;
    border: 1px solid #222;
    border-radius: 8px;
    transition: 0.3s;
}

.skill:hover {
    border-color: #7b4bff;
    transform: translateY(-5px);
}


.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 25px;
}

.project-card {
    background: #111;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #222;
    transition: .3s;
}

.project-card:hover {
    border-color: #7b4bff;
    transform: translateY(-8px);
}

/* CONTACT */
.contact-form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 6px;
    background: #111;
    border: 1px solid #222;
    color: white;
}

.contact-form textarea {
    height: 120px;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background: #050505;
    color: #777;
    border-top: 1px solid #111;
}
